<strong>Olá, {{ dispatcher }}</strong>
<p>Entrega cancelada! Segue informações abaixo:</p>

<p>
  <strong>ID da entrega: </strong> {{ order }} 
  <br />
  <strong>Favor desconsiderar esta entrega.</strong>
</p>
