<strong>Olá, {{ dispatcher }}</strong>
<p>Nova entrega registrada, segue informações abaixo:</p>

<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>O produto já está disponível para retirada</small>
</p>
